.footer__link-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer__link-nav {
    flex-direction: column;
    margin-right: 200px;
  }
}
