.place__paragraph-text {
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__paragraph-text {
    width: 288px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
